* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard";
}

body {
  font-family: "Pretendard";
}

.page-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
