* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard";
  transition: all 0.3s ease;
}

html,
body {
  font-family: "Pretendard";
}

.page-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 88px;
}
