.signupContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #040404;
}
form {
  width: 384px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
form > h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 32px;
}
form > label {
  font-weight: 700;
  font-size: 16px;
  margin: 32px;
}
.loginInput {
  width: 384px;
  height: 55px;
  margin: 8px 0;
  padding: 14px 24px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #e1e1e1;
  font-size: 14px;
  font-weight: 400;
  color: #808080;
  &:focus {
    border: 1px solid #000000;
    color: #000000;
  }
}
.loginInput:invalid {
  border-color: #eb4852;
}
.invalidPassword {
  border: 1px solid #eb4852;
}
.passwordContainer,
.passwordRetryContainer {
  width: 384px;
  position: relative;
  label {
    font-weight: 700;
    font-size: 16px;
  }
}
.eyeIcon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 15px;
  cursor: pointer;
}
.eyeIcon2 {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 45px;
  right: 15px;
  cursor: pointer;
}

.passwordContainer > .eyeIcon {
  top: 45px;
}
.passwordRetryContainer > .eyeIcon {
  top: 24px;
}
.agreementContainer {
  width: 100%;
  height: 75px;
  padding: 24px 13px;
  border-radius: 8px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  align-items: center;
  input {
    margin: 0;
    padding: 0;
  }
  label {
    font-size: 16px;
    font-weight: 500;
    color: #505050;
    margin-left: 10px;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    color: #9a9a9a;
    margin-left: 10px;
  }
}
.signUpButton {
  width: 142px;
  height: 52px;
  border-radius: 4px;
  margin: 60px 0 32px;
  padding: 14px 24px;
  background-color: #000000;
  color: white;
  font-size: 18px;
  font-weight: 500;
  &:hover {
    background-color: #414040;
  }
}
